<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Textopia</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/shop-homepage.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Textopia</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/contact-us">Contact</a>
                    </li>
                    {% if userid != -1 %}
                        <li>
                            <a href="/account/create-listing">Sell</a>
                        </li>
                    {% endif %}
                </ul>
                <nav>
                    <ul class="nav nav-pills pull-right">
                        {% if userid == -1 %}
                            <li role="presentation"><a href="/login">Sign In</a></li>
                            <li role="presentation"><a href="/sign-up">Sign Up</a></li>
                        {% else %}
                            <li role="presentation"><a class=btn btn-sm btn-primary" href="/account/my-account">Hi {{name}}</a></li>
                            <li role="presentation">
                                <form class="btn btn-sm btn-primary" action="/logout" method="post">
                                <button id="btnlogin" class="btn btn-sm btn-primary" type="submit">Sign out</button>
                                </form>
                            </li>
                        {% endif %}
                      </ul>
                </nav>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- /.navbar -->

    <div class="container">
        {% include 'flash-messages.html' %}
    <div class="row">

        <div class="" align="center">

            <form class="form-horizontal" action="/feedback/{{feedbackid}}" method="post">
                <fieldset>
                 {% if receiverType=="b" %}
                <legend>Tell Us What You Think About {{receiver}}! You sold the book {{book}} </legend>

                {% else %}
                <legend>Tell Us What You Think About {{receiver}}! You bought the book {{book}} </legend>
                {% endif %}

                <div class="form-group">
                    <label for="inputFeedback" class="col-lg-2 control-label">Feedback</label>
                    <div class="col-lg-10">
                        <textarea class="form-control" required autofocus rows="3" id="inputFeedback" name="inputFeedback"></textarea>
                        <span class="help-block">Maximum length of 500 characters.</span>
                    </div>
                  </div>
                <div class="form-group">
                    <label for="inputFeedback" class="col-lg-2 control-label">Please rate your experience</label>
                    <div class="col-lg-10">
                        <input type="number" name="inputRating" id="inputRating" class="form-control input-default"
                               placeholder="Your rating - 1 = worst, 5 = best" required autofocus>
                    </div>
                </div>

                <div class="form-group" align="center">
                    <div class="col-lg-10 col-lg-offset-2" align="center">
                        <button type="reset" class="btn btn-default">Cancel</button>
                        <button id="btnSubmitFeedback" class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
        </div>
{% include 'footer.html' %}
</body>
</html>