<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Textopia</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/shop-homepage.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Textopia</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/about">About</a>
                    </li>
                    {% if userid != -1 %}
                        <li>
                            <a href="/account/create-listing">Sell</a>
                        </li>
                    {% endif %}
                </ul>
                <nav>
                    <ul class="nav nav-pills pull-right">
                        {% if userid == -1 %}
                            <li role="presentation"><a href="/login">Sign In</a></li>
                            <li role="presentation"><a href="/sign-up">Sign Up</a></li>
                        {% else %}
                            <li role="presentation"><a class="btn btn-sm btn-primary" href="/account/my-account">Hi {{name}}</a></li>
                            <li role="presentation">
                                <form class="btn btn-sm btn-primary" action="/logout" method="post">
                                <button id="btnlogin" class="btn btn-sm btn-primary" type="submit">Sign out</button>
                                </form>
                            </li>
                        {% endif %}
                      </ul>
                </nav>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- /.navbar -->

    <!-- Page Content -->
    <div class="container">
    {% include 'flash-messages.html' %}
        <div class="row">
            <div class="col-md-3">
                {% include 'search-filter.html' %}
            </div>

            <div class="col-md-9">

                <div class="row carousel-holder">

                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img class="slide-image" src="/images/Banner1.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="/images/Banner2.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="/images/Banner3.jpg" alt="">
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="pagination">&laquo;</span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="pagination">&raquo;</span>
                            </a>
                        </div>
                    </div>

                </div>

                <div class="row">

                    {% for listing in listings %}
                    {% if listing.activeFlag == 1%}
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img class="scale" src=/images/{{listing.imageLocation}} alt="">
                            <div class="caption">

                                <h4><a href="/products/{{listing.id}}">{{listing.title}}</a>
                                </h4>
                                <h4 class="pull-right">${{listing.price}}</h4>
                            </div>
                            <!--<div class="ratings">
                                <p class="pull-right">15 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
                            </div>-->
                        </div>
                    </div>
                    {% endif%}
                    {% endfor %}


                </div>
<div class="text-right">
        <ul class="pager">

   <li class="next"><a href="/results">Next</a></li>
</ul>

    </div>
            </div>
</div>


        </div>


{% include 'footer.html' %}

    <!-- jQuery -->
    <script src="../js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>

</body>

</html>
