<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Textopia</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/shop-homepage.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    {% with messages = get_flashed_messages() %}
         {% if messages %}
            <ul>
               {% for message in messages %}
               <li><{{ message }}</li>
               {% endfor %}
            </ul>
         {% endif %}
      {% endwith %}
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Textopia</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/about">About</a>
                    </li>
                    {% if userid != -1 %}
                        <li>
                            <a href="/account/create-listing">Sell</a>
                        </li>
                    {% endif %}
                </ul>
                <nav>
                    <ul class="nav nav-pills pull-right">
                        {% if userid == -1 %}
                            <li role="presentation"><a href="/login">Sign In</a></li>
                            <li role="presentation"><a href="/sign-up">Sign Up</a></li>
                        {% else %}
                            <li role="presentation"><a class="btn btn-sm btn-primary" href="/account/my-account">Hi {{name}}</a></li>
                            <li role="presentation">
                                <form class="btn btn-sm btn-primary" action="/logout" method="post">
                                <button id="btnlogin" class="btn btn-sm btn-primary" type="submit">Sign out</button>
                                </form>
                            </li>
                        {% endif %}
                      </ul>
                </nav>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- /.navbar -->

    <!-- Page Content -->
    <div class="container">
        {% include 'flash-messages.html' %}
        <div class="row">
            <!-- Side Bar (Left Side)-->
            <div class="col-md-3">
                {% include 'search-filter.html' %}
            </div>


            <!-- User Advertisement (Right Side)-->
            <div class="col-md-9">
                <div class="">
                    <!-- User Image -->
                    <center>
                        <img class="scale-product-page" src=/images/{{ad.imageLocation}}>
                    </center>
                    <!-- Book Details -->
                    <div class="user-description-space">
                            <p align="center" class="book-title" >{{ad.title}}</p>
                            <h4 align="center" class="book-price">${{ad.price}} </h4>
                            <p align="center" class="book-description" >{{ad.description}}
                    </div>
                </div>
                <!-- Additional Information -->
                <div class="book-additional-details">
                    <div class="book-additonal-details-inner">
                        <center>
                            <table>
                                <tbody>
                                <tr>
                                    <td align="center"> <b> Author: </b>{{ad.author}}  </td>
                                    <td align="center"> <b> Publisher: </b>{{ad.publisher}} </td>
                                    <td align="center"> <b> Edition: </b>{{ad.edition}} </td>
                                </tr>
                                <tr>
                                    <td align="center"> <b> Year of Publication: </b>{{ad.year}}</td>
                                    <td align="center"> <b> ISBN13: </b>{{ad.ISBN13}} </td>
                                    <td align="center"> <b> Seller Rating: </b> {{rating}}</td>
                            </tr>
                                </tbody>
                            </table>
                        </center>

                    </div>
                    <div  class="condition">
                        <p align="center" class="book-condition"> <b> Condition: </b>{{ad.condition}} </p>
                    </div>
                </div>

                <!-- Buy Button -->
                <div>
                    <div class="text-center buy-btn">
                        {% if userid != -1 %}
                        {% if userid != sellerid.id %}
                        {% if ad.activeFlag == 1 %}
                        <button rel="stylesheet" id="buyBtn" class="btn">BUY</button>
                        <div rel="stylesheet"  id="buyModal" class="modal">
                            <div class="modal-content">
                            <div class="modal-header">
                            <span class="close">×</span>
                            <h2>Are you sure you want to commit to buy this book? </h2>
                            </div>
                            <div class="modal-body">
                                <form action="/products/commit/{{ad.id}}" method="get">
                                    <input class="btn" type="submit" value="Commit to Buy"/>
                                </form>
                                <a>OR</a>
                                <form action="/products/my-wishlist/{{ad.id}}" method="post">
                                    <input class="btn" type="submit" value="Add to Wishlist"/>
                                </form>
                            </div>
                            <div class="modal-footer">
                            <p align="center">&copy;Kaizen Software Consultants 2016</p>
                            </div>
                            </div>
                        </div>

                        <!-- Script for "Buy" button -->
                        <script>
                        // This will GET the buy modal
                        var modal = document.getElementById('buyModal');

                        // This will GET the buy button to open the buy modal
                        var btn = document.getElementById("buyBtn");

                        // This will GET the <span> element "x" that is on the top right corner; closes the modal
                        var span = document.getElementsByClassName("close")[0];

                        // Opens the modal when the user clicks on the delete button
                        btn.onclick = function() {
                        modal.style.display = "block";
                        }

                        // Closes the modal when the user clicks on the <span> "x" button
                        span.onclick = function() {
                        modal.style.display = "none";
                        }

                        </script>
                        {% endif%}
                        {% endif%}
                        {% if userid == sellerid.id %}
                        <button rel="stylesheet" id="deleteBtn" class="btn">Delete</button>
                    <div rel="stylesheet"  id="deleteModal" class="modal">
                        <div class="modal-content">
                        <div class="modal-header">
                        <span class="close">×</span>
                        <h2>Are you sure you want to delete this ad? </h2>
                        </div>
                        <div class="modal-body">
                        <form action="/products/delete/{{ad.id}}" method="post">
                            <input class="btn" type="submit" value="Yes"/>
                        </form>
                        <a>OR</a>
                        <form action="/products/{{ad.id}}" method="get">
                            <input class="btn" type="submit" value="No"/>
                        </form>
                        </div>
                        <div class="modal-footer">
                        <p align="center">&copy;Kaizen Software Consultants 2016</p>
                        </div>
                        </div>

                        <!-- Script for "Delete" button -->
                        <script>
                        // This will GET the delete modal
                        var modal = document.getElementById('deleteModal');

                        // This will GET the delete button to open the delete modal
                        var btn = document.getElementById("deleteBtn");

                        // This will GET the <span> element "x" that is on the top right corner; closes the modal
                        var span = document.getElementsByClassName("close")[0];

                        // Opens the modal when the user clicks on the delete button
                        btn.onclick = function() {
                        modal.style.display = "block";
                        }

                        // Closes the modal when the user clicks on the <span> "x" button
                        span.onclick = function() {
                           modal.style.display = "none";
                        }

                        </script>
                    </div>
                        {% endif%}
                        {% endif%}
                    </div>
                </div>
            </div>
        </div>
    </div>

<center> {% include 'footer.html' %} </center>

</body>
</html>
